.section-white {
    /* background: #fff; */
    padding: 70px 0;
}

/* Flexbox container for the team items */
.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.team-item {
    /* background: #f4f5f6; */
    text-align: center;
    margin: 0;
    padding: 40px 20px;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
    flex: 0 1 calc(33.333% - 30px); /* Adjust to 3 items per row */
    box-sizing: border-box;
}

.team-item:hover {
    background: #3956de;
    color: white;
}

.team-item h3 {
    margin: 20px 0 5px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

.team-item:hover h3 {
    color: #ddd;
}

.team-info {
    margin-bottom: 10px;
}

.team-info p {
    color: #acacac;
    font-style: italic;
    margin: 0;
}

.team-img {
    max-width: 140px;
    padding: 6px;
    background-color: #dedede;
    border-radius: 50%;
    margin: 0 auto 20px; /* Center the image */
}

ul.team-icon {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

ul.team-icon li {
    display: inline-block;
    margin: 0 5px;
    transition: all 0.25s ease-in-out;
}

ul.team-icon li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 50%;
    color: #fff;
}

ul.team-icon li a.twitter {
    background-color: #4099ff;
}

ul.team-icon li a.pinterest {
    background-color: #C92228;
}

ul.team-icon li a.facebook {
    background-color: #3b5998;
}

ul.team-icon li a.dribble {
    background-color: #ea4c89;
}

.team-icon li a:hover {
    color: #ddd;
}
